.libre-caslon-text-regular {
    font-family: "Libre Caslon Text", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .libre-caslon-text-bold {
    font-family: "Libre Caslon Text", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .libre-caslon-text-regular-italic {
    font-family: "Libre Caslon Text", serif;
    font-weight: 400;
    font-style: italic;
  }
body { 
    background-color:#F4E9DC; 
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 30px;
}

span {
    font-size: 30px;
    text-align: justify;
}

p {
    font-size: 18px;
    text-align: justify;
}

p.footer {
    font-size: 18px;
    text-align: center;
}

p.img2 {
    margin-left: 50px;
    margin-right: 50px;
}

p.img8 {
    margin-left: 50px;
    margin-right: 0px;
}

a:link {
    color: black;
    text-decoration:none;
    }
    a:visited {
    color: black;
    }
 
.contact-blok {
    padding-right: 50px;
    padding-top: 1px;
}


.top-block {
    display: flex;
    object-fit: cover;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin-bottom: 0;
    padding-bottom: 0;
    }

.first-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.history_of_penhalonga {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.gold-of-penhalonga-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: #E4DBCF;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.investment-potential-block {
    display: flex;
    flex-direction: column;
    justify-content: middle;
    align-items: center;
    height: 100vh;
    background-color: #E4DBCF;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-deposit-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 10px;
    padding-bottom: 90px;
}

.gold-mine-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: #E4DBCF;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.muriel-gold-mine{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.seconds-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: #E4DBCF;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.gold-prices {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: #E4DBCF;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.gold-market-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: #E4DBCF;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 10px;
}

.how-brics-block {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    height: 100vh;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 250px;
    }

.gold-market-title-block{
    height: 100vh;
    padding-top: 20px;
    padding-bottom: 40px;
}

.gold-market-in-2024-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
}


.gold-vs-american-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
    background-color: #E4DBCF;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 10px;
    padding-bottom: 0px;
}

.gold-price-2-block {
    display: flex;
    flex-direction: column;
    justify-content: middle;
    align-items: center;
    height: 50vh;
    background-color: #E4DBCF;
    padding-left: 150px;
    padding-right: 150px;
}

.geopolitics-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 10px;
    padding-bottom: 40px;
}

.contact-1-block {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 15vh;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 70px;
}

.contact-2-block {
    display: flex;
    flex-direction: row;
    justify-content: middle;
    align-items: center;
    height: 10vh;

}

.contact_footer {
    display: flex;
    flex-direction: row;
    justify-content: middle;
    align-items: center;
    height: 40vh;
    padding-left: 50px;
}

.img-contact {
    margin-left: 150px;
    margin-right: 20px;
}

.gold_logo_contact {
    float: left;
    height: 100vh;
    width: 50%;
    margin-bottom: 0;
}

.img8 {
    margin-left: 50px;
}

.img2 {
    margin-left: 50px;
    margin-right: 50px;
}

.img3 {
    margin-left: 50px;
    margin-right: 50px;
}

.img_top {
    width: 100vw;
}

.goldvsamericaimg {
    height: 18vh;
}

.img5 {
    margin-left: 50px;
    margin-right: 50px; 
}

.img7 {
    margin-left: 50px;
    margin-right: 50px;
}

.img9 {
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.img11 {
    margin-left: 50px;
    margin-right: 50px; 
}

.img13 {
    margin-left: 50px;
    margin-right: 50px;
}

.img14  {
    margin-left: 50px;
    margin-right: 50px;
}

.phone_footer_img {
    padding-top: 3vh;
    width: 40%;
    float: left;
}

@media (max-device-width: 1025px)
{

    .libre-caslon-text-regular {
        font-family: "Libre Caslon Text", serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .libre-caslon-text-bold {
        font-family: "Libre Caslon Text", serif;
        font-weight: 700;
        font-style: normal;
      }
      
      .libre-caslon-text-regular-italic {
        font-family: "Libre Caslon Text", serif;
        font-weight: 400;
        font-style: italic;
      }
    body { 
        background-color:#F4E9DC; 
        margin: 0;
        padding: 0;
    }
    
    h2 {
        font-size: 38px;
    }
    
    span {
        font-size: 50px;
        text-align: justify;
    }
    
    p {
        font-size: 28px;
        text-align: justify;
    }
    
    p.footer {
        font-size: 10px;
        text-align: center;
    }
    
    p.img2 {
        margin-left: 0;
        margin-right: 0;
    }

    p.img8 {
        margin-left: 0;
        margin-right: 0;
    }
    
    a:link {
        color: black;
        text-decoration:none;
        }
        a:visited {
        color: black;
        }
     
    .contact-blok {
        padding-right: 20px;
        padding-top: 1px;
    }
    
    
    .top-block {
        display: flex;
        flex-direction: center;
        justify-content: center;
        align-items: center;
        height: 100vh;
        }
    
    .first-block {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 0;
    }

    .history_of_penhalonga {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 0;
    }
    
    .gold-of-penhalonga-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        background-color: #E4DBCF;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 0px;
    }
    
    .investment-potential-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        background-color: #E4DBCF;
        padding-left: 0;
        padding-right: 0;
        padding-top: 20px;
        padding-bottom: 0;
    }
    
    .main-deposit-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 0;
    }
    
    .gold-mine-block {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        background-color: #E4DBCF;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 0;
    }

    .muriel-gold-mine{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        padding-left: 0;
        padding-right: 0;
        padding-top: 20px;
        padding-bottom: 0;
    }

    .seconds-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        background-color: #E4DBCF;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 0;
    }

    .gold-prices {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        background-color: #E4DBCF;
        padding-left: 0;
        padding-right: 0;
        padding-top: 20px;
        padding-bottom: 0;
    }
    
    .gold-market-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;;
        align-items: center;
        height: 100vh;
        background-color: #E4DBCF;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 0;
    }
    
    .how-brics-block {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100vh;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 1vh;
    }
    
    .gold-market-title-block{
        height: 100vh;
        padding-top: 20px;
        padding-bottom: 0;
        justify-content: bottom;
    }
    
    .gold-market-in-2024-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 0;
    }
    
    
    .gold-vs-american-block {
        display: flex;
        flex-direction: row;
        justify-content: bottom;
        align-items: center;
        height: 50vh;
        background-color: #E4DBCF;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    
    .gold-price-2-block {
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;
        height: 50vh;
        background-color: #E4DBCF;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 0;
        margin-top: 0;
    }
    
    .geopolitics-block {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 0;
    }
    
    .contact-1-block {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 15vh;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 70px;
    }
    
    .contact-2-block {
        display: flex;
        flex-direction: row;
        justify-content: middle;
        align-items: center;
        height: 10vh;
    
    }
    
    .contact_footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        height: 20vh;
        padding-left: 0;
        padding-right: 0;
    }
    
    p.img-contact {
        margin-left: 0;
        margin-right: 0;
    }

    .phone_footer_img {
        display: flex;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        padding-top: 1vh;
        padding-left: 5vw;
        width: 50%;
    }

    .img2 {
        -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        object-fit: cover;
        overflow: hidden;
        margin-bottom: 0;
        width: 100vw;
    }
    
    .img3 {
        -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        flex: 1;
        width: 100vw;
        overflow: hidden;
        object-fit: cover;
        margin-bottom: 0px;
    }

    .img4 {
        -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        height: 40vh;
        width: 100vw;
        object-fit: cover;
        overflow: hidden;
        margin-bottom: 0;
    }

    .img_top {
        height: 80vh;
        object-fit: cover;
        overflow: hidden;
        margin-bottom: 0;
    }
    
    .img5 {
        -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        flex: 1;
        overflow: hidden;
        object-fit: cover;
        width: 100vw; 
    }

    .img7 {
        -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        object-fit: cover;
        padding-top: 3vh;
        height: 35vh; 
    }

    .img8 {
        -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        height: 35vh;
        width: 100vw;
        object-fit: cover;
        overflow: hidden;
        margin-left: 0;
        margin-bottom: 0;
    }

    .img9 {
        -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        object-fit: cover;
        overflow: hidden;
        padding-top: 3vh;
        height: 35vh;
        width: 100vw; 
    }

    .img10 {
        -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        overflow: hidden;
        object-fit: cover;
        width: 100vw; 
    }

    .img11 {
        -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        overflow: hidden;
        object-fit: cover;
        height: 60vh;
        width: 100vw; 
    }

    .img13 {
        -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        overflow: hidden;
        object-fit: cover;
        width: 100vw; 
    }

    .img14 {
        -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        overflow: hidden;
        object-fit: cover;
        height: 65vh;
        width: 100vw; 
        margin-bottom: 0;
    }

    .goldvsamericaimg {
        object-fit: cover;
        height: 4vh;
    }

    h1.titletext {
        overflow: hidden;
        padding-top: 5vh;
        font-size: 60px;
    }

    .text221 {
        flex: 0;
    }

    .potential_title_text {
        padding-top: 20vh;
        padding-left: 20px;
        padding-right: 20px;
    }

    .potential_text {
        padding-top: 5vh;
        padding-left: 20px;
        padding-right: 20px;
    }

    .muriel_text {
        padding-left: 20px;
        padding-right: 20px;
    }

    .gold_prices_titletext {
        padding-top: 15vh;        
    }

    .gold_prices_text {
        padding-top: 5vh;
        padding-left: 20px;
        padding-right: 20px;
    }

    .mail_footer_text {
        justify-content: center;
        align-items: center;
    }

    .phone_footer_text {
        justify-content: center;
        align-items: center;
    }

    .gold_logo_contact {
        display: none;
        float: left;
        height: 100vh;
        width: 50%;
        margin-bottom: 0;
    }

}